
 
  table {
    width: 100%;
    border: 0px solid;
    border-spacing: 0;
    border-collapse: collapse;
  }

  th {
    background-color: #28597a;
    color: white;
    padding: 10px;
  }
  
  td {
    background-color: #2376b9;
    color: white;
    padding: 5px;
  }

  vscode-panels {
    border: 0px;
    border-radius: 1px;
  }

  section {
    display: flex;
    flex-direction: column; 
    width: 100%;
  }
  